
<div class="navbar navbar-fixed-top">
  <div class="nav navbar-inner header">
    <div class="container">
      <div class="nav brand">In The Clouds</div>
      <ul class="nav navbar pull-right">
        <li>
          <a href="" class="nav-link">tutorials</a>
        </li>
        <li>
          <a href="" class="nav-link">Models</a>
        </li>
        <li>
          <a href="" class="nav-link">Places</a>
        </li>
        <li>
          <a href="" class="nav-link"></a>
        </li>
      </ul>
    </div>
  </div>

